[submodule "type1/LakeBIOS"]
	path = type1/LakeBIOS
	url = git@github.com:AtieP/LakeBIOS.git
[submodule "type1/edk2"]
	path = type1/edk2
	url = git@github.com:tianocore/edk2.git
[submodule "type1/openbios"]
	path = type1/openbios
	url = git@github.com:openbios/openbios.git
[submodule "type3/arduino-variometer"]
	path = type3/arduino-variometer
	url = git@github.com:prunkdump/arduino-variometer.git
[submodule "type2/easyboot"]
	path = type2/easyboot
	url = https://gitlab.com/bztsrc/easyboot.git
[submodule "type2/tosaithe"]
	path = type2/tosaithe
	url = git@github.com:davmac314/tosaithe.git
[submodule "type2/slimbootloader"]
	path = type2/slimbootloader
	url = git@github.com:slimbootloader/slimbootloader.git
[submodule "type2/lbmk"]
	path = type2/lbmk
	url = https://codeberg.org/libreboot/lbmk.git
[submodule "type2/grub"]
	path = type2/grub
	url = https://git.savannah.gnu.org/git/grub.git
[submodule "type2/CloverBootloader"]
	path = type2/CloverBootloader
	url = git@github.com:CloverHackyColor/CloverBootloader.git
[submodule "type2/limine"]
	path = type2/limine
	url = git@github.com:limine-bootloader/limine.git
[submodule "type2/chameleon"]
	path = type2/chameleon
	url = git@github.com:rescbr/chameleon.git
[submodule "type2/shim"]
	path = type2/shim
	url = git@github.com:rhboot/shim.git
[submodule "type2/open-iscsi"]
	path = type2/open-iscsi
	url = git@github.com:open-iscsi/open-iscsi.git
[submodule "type2/ipxe"]
	path = type2/ipxe
	url = git@github.com:ipxe/ipxe.git
[submodule "type3/openblt"]
	path = type3/openblt
	url = git@github.com:feaser/openblt.git
[submodule "type3/mcuboot"]
	path = type3/mcuboot
	url = git@github.com:mcu-tools/mcuboot.git
[submodule "type3/IMBootloader"]
	path = type3/IMBootloader
	url = git@github.com:IMProject/IMBootloader.git
[submodule "type1/seabios"]
	path = type1/seabios
	url = git@github.com:coreboot/seabios.git
[submodule "type3/arm-trusted-firmware"]
	path = type3/arm-trusted-firmware
	url = git@github.com:ARM-software/arm-trusted-firmware.git
[submodule "type3/hafnium"]
	path = type3/hafnium
	url = https://review.trustedfirmware.org/hafnium/hafnium.git
[submodule "type2/MiniVisorPkg"]
	path = type2/MiniVisorPkg
	url = git@github.com:tandasat/MiniVisorPkg.git
[submodule "type1/slimbootloader"]
	path = type1/slimbootloader
	url = https://github.com/slimbootloader/slimbootloader
[submodule "type1/coreboot"]
	path = type1/coreboot
	url = https://github.com/coreboot/coreboot.git
[submodule "type1/openfirmware"]
	path = type1/openfirmware
	url = https://github.com/MitchBradley/openfirmware
[submodule "type1/firmware-open"]
	path = type1/firmware-open
	url = https://github.com/system76/firmware-open.git
[submodule "type2/OpenCorePkg"]
	path = type2/OpenCorePkg
	url = https://github.com/acidanthera/OpenCorePkg.git
[submodule "type2/lk2nd"]
	path = type2/lk2nd
	url = https://github.com/msm8916-mainline/lk2nd.git
[submodule "type3/u-boot"]
	path = type3/u-boot
	url = https://github.com/u-boot/u-boot.git
[submodule "type3/barebox"]
	path = type3/barebox
	url = https://github.com/barebox/barebox.git
[submodule "type1/hostboot"]
	path = type1/hostboot
	url = https://github.com/open-power/hostboot.git
[submodule "type2/skiboot"]
	path = type2/skiboot
	url = https://github.com/open-power/skiboot.git
